.add-expenses-btn-custom-possition {
    position: absolute;
    right: 7%;
    top: 200%;
}

.fade-in {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}